[Unit]
Description=RGB Fan HAT Controller
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/.pyenv/shims/python /usr/local/bin/fan_service.py

[Install]
WantedBy=multi-user.target
