[Unit]
Description=RGB Fan HAT Controller
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/fan_service.py

[Install]
WantedBy=multi-user.target
